In [11]:
import geopandas as gpd
import pandas as pd


neighborhoods = gpd.read_file('pittsburghpaneighborhoods-/Neighborhoods_.shp')
neighborhoods.set_index("hood")
neighborhoods.head(6)

stops = gpd.read_file('paac_stops_1909/PAAC_Stops_1909.shp')
stops.head(6)

on_time_percentage = pd.read_csv("OTP_data.csv")
on_time_percentage.head(6)

,route,ridership_route_code,route_full_name,current_garage,mode,month_start,year_month,day_type,on_time_percent,data_source
0,1,001,1 - FREEPORT ROAD,Ross,Bus,2017-01-01,201701,WEEKDAY,0.6837,Clever
1,1,001,1 - FREEPORT ROAD,Ross,Bus,2017-01-01,201701,SAT.,0.6977,Clever
2,1,001,1 - FREEPORT ROAD,Ross,Bus,2017-01-01,201701,SUN.,0.6280,Clever
3,2,002,2 - MOUNT ROYAL,Ross,Bus,2017-01-01,201701,WEEKDAY,0.6978,Clever
4,4,004,4 - TROY HILL,Ross,Bus,2017-01-01,201701,WEEKDAY,0.7438,Clever
5,4,004,4 - TROY HILL,Ross,Bus,2017-01-01,201701,SAT.,0.7042,Clever